<div>
<h2><%= @user.name %></h2>

<div>
  <%= link_to 'Edit Account', edit_user_path(@user) %>
  |
  <%= link_to 'New Item', new_item_path %>
  |
  <%= link_to 'Delete Account', user_path(@user), method: 'delete' %>
</div>
<br>

<div class='userLst'>
<strong>Name:</strong> <%= @user.name %><br>

<%= cl_image_tag @user.image, alt: @user.name, class: 'avartar img-responsive img-thumbnail pull-left' %>

<h3>   Your Listing</h3>
  <ul>
  <% @user.items.each do |item| %>
    <li>
      <%= link_to item.summary, item_path(item.id) %>
    </li>
  <% end %>
  </ul>
</div>
